link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/weather-icons/0.0.1/css/weather-icons.min.css')
link(rel='stylesheet', href='/css/widgets/weather-widget.css')
script(src='/js/widgets/weather-widget.js')

script(type='text/html', id='weather-widget-template')
    .widget#weather-widget
        .header
            .title Weather
        .body.result
            i.icon
            span.degrees
            .wind
                i.wi-strong-wind
                span


