link(rel='stylesheet', href='/css/btc-chart.css')
script(src='/js/btc-chart.js')
script(type='text/html', id='btc-chart-template')
    .widget#btc-chart
        .header
            .settings
                span last 
                .select
                    .selected 50
                    .options
                        .option 100
                        .option 50
                        .option 25
            .title BTC
        .body.chart

