link(rel='stylesheet', href='/css/btc-chart.css')
script(src='/js/btc-chart.js')
script(type='text/html', id='btc-chart-template')
    .widget#btc-chart
        .header
            .settings
                span last 
                .select
                    .selected 250
                    .options
                        .option 1000
                        .option 500
                        .option 250
                        .option 100
            .title BTC
        .body.chart

