extends base

block head
    title Dr. Sproboto

block styles
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,500')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Inconsolata:400,700')
    link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/jquery.jsonview.css')
    link(rel='stylesheet', href='/css/dashboard.css')
    link(rel='stylesheet', href='/css/chart.css')
    link(rel='stylesheet', href='/css/loading.css')
    link(rel='stylesheet', href='/css/dashboard-mobile.css')
    link(rel='stylesheet', href='/css/dashboard-dark.css')

block scripts
    script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js')
    script(src='/js/md5.js')
    script(src='/js/axis.js')
    script(src='/js/jquery.jsonview.js')
    script(src='/js/stayFit.js')
    script(src='/js/dashboard.js')

    include messages-chart
    include tweets-list
    include sweater-widget
    include weather-widget
    include btc-chart

    include loading

    script(type='text/html', id='script-preview-template')
        span
            strong
                span.sender
                |  &rarr;
            pre.script

    script(type='text/html', id='btc-preview-template')
        span
            strong
                i.fa.fa-btc
                |  
                span.last

    script(type='text/html', id='scheduled-preview-template')
        span
            strong
                i.fa.fa-clock-o
                |  Scheduler
            pre.script

    script(type='text/html', id='email-preview-template')
        span
            strong
                i.fa.fa-envelope.icon
                |  
                span.from
                |  
            span.dark.subject
            p.text

    script(type='text/html', id='tweet-preview-template')
        span
            strong
                i.fa.fa-twitter.icon
                |  
                img.avatar
                |  
                span.screen_name
                |  
            span.text

    script(type='text/html', id='github_event-preview-template')
        span
            strong
                i.fa.fa-github.icon
                |  
                img.avatar
                |  
                span.username
                |  
            span.action
            |  
            strong.repo_name

    script(type='text/html', id='message-template')
        .item.message
            span.created_at
            .details
                span.preview
                    strong.sender
                    pre.summary
            .full
                pre.code

    script(type='text/html', id='trigger-template')
        .item.trigger
            .actions
                a.btn.btn-xs.btn-danger(data-action='confirm_delete') Delete
                a.btn.btn-xs.btn-success(data-action='save') Save
            input.frameless.key(name='key')
            textarea.match(name='match')
            textarea.code.run(name='run')

    script(type='text/html', id='todo-template')
        .item.message.todo
            .details
                .tags
                .body

    script(type='text/html', id='action-template')
        .item.action
            .actions
                a.btn.btn-xs.btn-danger(data-action='confirm_delete') Delete
                a.btn.btn-xs.btn-success(data-action='save') Save
            input.frameless.name(name='name')
            textarea.form-control.code.toggled(name='code')

block body
    #line

    #navigation
        ul.nav.nav-tabs
            li.head
                img.avatar(src="/images/drsproboto.png")
            li: a(data-toggle="tab", href="#dashboard")
                i.fa.fa-bar-chart-o
            li: a(data-toggle="tab", href="#messages")
                i.fa.fa-comment-o
            li: a(data-toggle="tab", href="#emails")
                i.fa.fa-envelope
            li: a(data-toggle="tab", href="#tweets")
                i.fa.fa-twitter
            li: a(data-toggle="tab", href="#github")
                i.fa.fa-github
            li: a(data-toggle="tab", href="#todos")
                i.fa.fa-tasks
            li: a(data-toggle="tab", href="#triggers")
                i.fa.fa-filter
            li: a(data-toggle="tab", href="#console")
                i.fa.fa-terminal

    #content.dark
        .container
            .tab-content
                .tab-pane.active#dashboard
                    .page-head
                        h1 Dashboard
                
                    .page-body

                .tab-pane#messages
                    .page-head

                        .filters.pull-right
                            span.label.type.type-script.active script
                            span.label.type.type-event.active event
                            span.label.type.type-response.active response
                            span.label.type.type-register.active register
                            span.label.type.type-unregister.active unregister

                        h1 Messages

                    // List items
                    .page-body
                        .container-fluid.items

                .tab-pane#emails
                    .page-head
                        h1 Emails

                    // List items
                    .page-body
                        .container-fluid.items

                .tab-pane#tweets
                    .page-head
                        h1 Tweets

                    // List items
                    .page-body
                        .items

                .tab-pane#github
                    .page-head
                        h1 Github Activity

                    // List items
                    .page-body
                        .items

                .tab-pane#todos
                    .page-head
                        h1 To Do

                    // List items
                    .page-body
                        .items

                .tab-pane#triggers
                    .page-head
                        h1 Triggers

                    .page-body
                        // Create new trigger
                        form#new-trigger
                            .form-group
                                input.frameless.key(name='key', placeholder='key')
                                textarea.match(name='match', placeholder='match')
                                textarea.code.run(type='text', name='run', placeholder='run')
                            .pull-right
                                a.btn.btn-sm.btn-success(data-action='save') Add trigger
                        .clearfix

                        // List items
                        .items

                .tab-pane#console
                    .page-head
                        h1 Console

                    .page-body
                        .history
                        form
                            label.prompt &gt;
                            input.script(placeholder="enter command")

