link(rel='stylesheet', href='/css/messages-chart.css')
script(src='/js/messages-chart.js')
script(type='text/html', id='messages-chart-template')
    .widget#messages-chart
        .header
            .settings
                span last 
                .select
                    .selected 100
                    .options
                        .option 500
                        .option 250
                        .option 100
                        .option 50
                        .option 25
            .title MESSAGES
        .body.chart

