link(rel='stylesheet', href='/css/sweater-widget.css')
script(src='/js/sweater-widget.js')
script(type='text/html', id='sweater-widget-template')
    .widget#sweater-widget
        .header
            .title Sweater
        .body.result
            img.icon
            span.text
            .buttons
                a.btn(data-action='sweaterNo'): i.fa.fa-times
                a.btn(data-action='sweaterYes'): i.fa.fa-check
