link(rel='stylesheet', href='/css/tweets-list.css')
script(src='/js/tweets-list.js')
script(type='text/html', id='tweet-item-template')
    .tweet-item
        strong
            img.avatar
            |  
            span.screen_name
            |  
        span.text
script(type='text/html', id='tweets-list-template')
    .widget#tweets-list
        .header
            .title Recent Tweets
        .body.items


