script(type='text/html', id='scheduled_event-template')
    .item.message.scheduled
        .actions
            a.btn.btn-xs.btn-danger(data-action='confirm_delete') Delete
        .details
            strong
                i.fa.fa-clock-o.icon
                |  
                span.time
                |  
                span.interval
            pre.script

