@media(max-width: 768px)
    
    #navigation
        top: 0
        left: 0
        right: 0
        bottom: auto
        width: auto
        height: 50px

        .nav.nav-tabs
            li
                display: inline-block

                &.active
                    a
                        border-left-color: transparent

                &.head
                    .avatar
                        display: inline-block
    #content
        left: 0
        top: 0

        .page-head
            display: none
            left: 0
