body
    background: #000
    color: #aaa

#navigation
    background: rgba(#000, 0.8)
    border-right: 1px solid #262626
@media (max-width: 768px)
    #navigation
        border-top: 1px solid #262626

.card
    padding: 10px 0
    border-radius: 0
    background: #000
    box-shadow: none

#content.dark
    background: #000

    .page-head, .page-body
        background: #000
        background: #000
    .page-head
        background: rgba(#000, 0.8)
        color: #555
        border-bottom: 1px solid #262626

    .page-body > .items
        padding: 0

    .item.message
        border-radius: 0
        background: #000
        box-shadow: none
        border-bottom-color: #161616

        .created_at
            color: #666

        .details
            pre
                background: #222
                color: #999
            .preview
                color: #ccc
                strong
                    color: #bbb
                    font-weight: 400
                .dark
                    color: #888

    #todos .item .details .tags span
        background: #333

    #triggers
        input
            background-color: transparent
            color: #eee

    #new-trigger, .trigger
        textarea.match
            background-color: #ccc

    #dashboard
        .page-body
            padding-top: 65px

    #console
        .page-body
            background: #000

    .widget
        background: transparent
        box-shadow: none
        border: 1px solid #222
        .header
            .title
                color: #555
        .select
            border-color: #444

    .tweet-item
        .time
            color: #777
        strong
            color: #ddd

    .tweet-item + .tweet-item
        border-top-color: #262626

