svg
    margin-top: 10px

.bar
    fill: steelblue

    rect:last-child
        border-top-left-radius: 3px

.axis
    path
        display: none
    stroke-width: 2px
    fill: #ccc
    font-size: 9px
