#sweater-widget
    text-align: center

    .body
        padding-top: 60px

        .icon
            height: 90px
            vertical-align: middle
            position: relative
            top: -25px
            opacity: 0.25

        .text
            font-size: 40px
            margin-left: 20px

        .btn
            display: inline-block
            padding: 2px
            text-align: center
            width: 29px
            border: 2px solid #bbb
            border-radius: 20px
            color: #bbb
            margin: 0 8px
            &:hover
                background: #bbb
                color: #fff

            &.active
                border-color: #555
                background-color: #555
                color: #fff

@media (max-width: 786px)
    #sweater-widget
        .body
            padding-top: 20px
            .icon
                height: 70px

