#wemo-widget
    text-align: center
    
    .icon
        font-size: 160px
        color: #ccc
        position: absolute
        top: 20%
        right: 50%
        -webkit-transition: color 0.3s

    .buttons
        position: absolute
        left: 60%
        top: 35%
    .btn
        text-transform: uppercase
        display: block
        font-size: 11px
        padding: 4px 5px 5px
        border-radius: 25px
        margin: 10px 0
        width: 50px
        color: #bbb
        border: 2px solid #bbb

    &[wemo-status=on]
        .icon
            color: #F0E386
        a[data-action=wemoOn]
            background: #555
            color: #fff
            border-color: #555
    &[wemo-status=off]
        a[data-action=wemoOff]
            background: #555
            color: #fff
            border-color: #555

@media (max-width: 768px)
    #wemo-widget
        .icon
            font-size: 140px

#content.dark #wemo-widget
    .icon
        color: #222

    &[wemo-status=on]
        a[data-action=wemoOn]
            background: #ccc
            color: #000
            border-color: #ccc
    &[wemo-status=off]
        a[data-action=wemoOff]
            background: #ccc
            color: #000
            border-color: #ccc
